.contact__cont {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .contact__body__cont {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}